.App {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

body {
  background-color: rgba(0, 0, 0, 0.324);
}

.calculator {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: aquamarine;
  text-align: center;
  background: rgba(36, 154, 209, 0.244);
  box-shadow: 0 4px 30px rgba(41, 7, 135, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.calculator>* {
  border: 1px solid black;
  padding: 10px;
}

.row {
  grid-column: 1 / -1;
}

#display {
  text-align: right;
}

#clear {
  text-align: center;
}
